/*!
 * Copyright 2021 BRAUN Nathanael
 *
 * Use of this source code is governed by an MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */


@mixin aspect-ratio($ratio-or-width, $height: null) {
  $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
  &:before {
    content: '';
    float: left;
    padding-bottom: $padding;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin use_hvCenteredAbs() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin use_hvCenteredContent() {

  &:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    width: 1px;
    margin-right: -1px;
    vertical-align: middle;
    overflow: hidden;
  }
  text-align: center;
  > * {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
  }
}
