/*!
 * Copyright 2021 BRAUN Nathanael
 *
 * Use of this source code is governed by an MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */



@import "App/App.vars.scss";
@import "App/App.shared.scss";
@import "App/ui/comps/**/*.scss";
@import "App/ui/pages/**/*.scss";
@import "App/ui/views/**/*.scss";


body, html {
  margin: 0;
  padding: 0;
}


#app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;

}