/*!
 * Copyright 2021 BRAUN Nathanael
 *
 * Use of this source code is governed by an MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */
.Page_Home {
  @include use_hvCenteredContent();
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  user-select: none;
}
